
body p{
    font-family: Arial, Helvetica, sans-serif;
}
#container_wrapper #text .velocity{
    font-family: "Velocity - DEMO";
}
.overlay{
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    border-radius: 15px;
}
#container_wrapper .loreal-cards:hover .overlay{
    opacity: 1;
}
#container_wrapper .loreal-cards-discover:hover .overlay{
    opacity: 0;
}
#container_wrapper .loreal-cards:hover .loreal-cards-discover{
    transform: scale(0.96);
}

#container_wrapper .loreal-cards-discover{
    transition: all 300ms;
}
#container_wrapper .loreal-cards:hover .loreal-cards-discover:hover{
    transform: scale(1);
}
.loreal-cards::-webkit-scrollbar {
    height: 8px;
    background-color: #aaa;
    border-radius: 5px;
}  
#container_wrapper .loreal-cards::-webkit-scrollbar-thumb {
    background-color: #3D3D3D ;
    border-radius: 5px;
}

#menu {
    transition: left 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto; /* Allow scrolling within the menu */
    /* z-index: 50; */
}

.navbar.menu-open:hover {
    /* Override hover styles when menu is open */
    background-color: transparent;
    color: white;
}

#overlay {
    transition: opacity 0.3s ease;
}

.no-scroll {
    overflow: hidden;
}


.navbar.scrolled {
    background-color: white;
    color: #3d3d3d;
    border-bottom: 0.5px solid #c4c4c4;
}

.img-overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.6));
    z-index: -1;
}

.hero-img {
    z-index: -2;
}

#logo {
    font-family: "Gomme Sans W04 Regular";
}

#sub-logo {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.4rem;
    font-size: 0.6rem;
}

.times {
    font-family: 'Times New Roman', Times, serif;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

/* .social{ 
    margin-right: 20px;
    padding: 15px;
    border-radius: 100%;
    background-color: #DBD9D6;
}

.social_fb{ 
    margin-right: 20px;
    padding: 15px 17px;
    border-radius: 100%;
    background-color: #DBD9D6;
} */

footer .social{ 
    margin-right: 15px;
    padding: 14px;
    border-radius: 100%;
    background-color: #DBD9D6;
  }
  
  footer .social_fb{ 
    padding: 15px 17px;
    border-radius: 100%;
    background-color: #DBD9D6;
  }