
.group_hero{
  background-image: url(assets/herowho-are-we.webp);
  background-size: cover;
  background-position: center;
}
.group .linear_gradient{
  background: linear-gradient(180deg, rgba(0, 0, 0, .5) 0, transparent 20%, transparent 43%, rgba(0, 0, 0, .5));
  /* height: 100vh; */
}
.group .font-serif{
  font-family: Halesworth,Times New Roman,Times,serif;
}
.group .font{
  font-family: "Helvetica Now Display", Arial, Helvetica, sans-serif;
} 
@font-face {
  font-family: "Velocity - DEMO";
  src: url("https://db.onlinewebfonts.com/t/14e13162e72ceb6e34ad33726fce5620.eot");
  src: url("https://db.onlinewebfonts.com/t/14e13162e72ceb6e34ad33726fce5620.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/14e13162e72ceb6e34ad33726fce5620.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/14e13162e72ceb6e34ad33726fce5620.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/14e13162e72ceb6e34ad33726fce5620.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/14e13162e72ceb6e34ad33726fce5620.svg#Velocity - DEMO")format("svg");
}
.group .velocity {
  font-family: "Velocity - DEMO";
}
.group .shadow{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.group .gradient{
  filter: brightness(80%)
}
.group .cards-overlay {
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  border-radius: 15px;
}

.group .cards:hover .cards-overlay {
  opacity: 1;
}

.group .cards-card {
  transition: all;
  transition-duration: 300ms;
}

.group .cards:hover .cards-card:hover {
  cursor: pointer;
  transform: scale(1);
}

.group .cards-card:hover .cards-overlay {
  opacity: 0;
}

.group .cards:hover .cards-card {
  transform: scale(0.95);
}
.group .cards-cards::-webkit-scrollbar {
  height: 6px;
  background-color: #aaa;
  border-radius: 5px;
}

.group .cards-cards::-webkit-scrollbar-thumb {
  background-color: #3D3D3D;
  border-radius:5px;
}
.group .inspired-overlay {
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  border-radius: 15px;
}

.group .inspired:hover .inspired-overlay {
  opacity: 1;
}

.group .inspired-card {
  transition: all;
  transition-duration: 300ms;
}

.group .inspired:hover .inspired-card:hover {
  cursor: pointer;
  transform: scale(1);
}

.group .inspired-card:hover .inspired-overlay {
  opacity: 0;
}

.group .inspired:hover .inspired-card {
  transform: scale(0.95);
}
.group .inspired-cards::-webkit-scrollbar {
  height: 6px;
  background-color: #aaa;
  border-radius: 5px;
}

.group .inspired-cards::-webkit-scrollbar-thumb {
  background-color: #3D3D3D;
  border-radius:5px;
}
.group footer .social{ 
  margin-right: 15px;
  padding: 14px;
  border-radius: 100%;
  background-color: #DBD9D6;
}
.group footer .social:hover{
  background-color: #3D3D3D;
}

.group footer .social_fb{ 
  padding: 15px 17px;
  border-radius: 100%;
  background-color: #DBD9D6;
}
.group footer .social_fb:hover{
  background-color: #3D3D3D;
}
.group #menu {
  transition: left 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto; /* Allow scrolling within the menu */
  /* z-index: 50; */
}

.group .navbar.menu-open:hover {
  /* Override hover styles when menu is open */
  background-color: transparent;
  color: white;
}

.group #overlay {
  transition: opacity 0.3s ease;
}

.group .no-scroll {
  overflow: hidden;
}


.group .navbar.scrolled {
  background-color: white;
  color: #3d3d3d;
  border-bottom: 0.5px solid #c4c4c4;
}

.group .img-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.6));
  z-index: -1;
}

.group .hero-img {
  z-index: -2;
}

.group #logo {
  font-family: "Gomme Sans W04 Regular";
}

.group #sub-logo {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.4rem;
  font-size: 0.6rem;
}

.group .times {
  font-family: 'Times New Roman', Times, serif;
}

.group .arial {
  font-family: Arial, Helvetica, sans-serif;
}
